- require "#{Dir.pwd}/src/base/partial/helper.rb"

:ruby
  data = {
    model: 'Clinic',
    name: '店面信息',
    desc: '设置各店面基本信息',
    fields: {
      name: '店面名称',
    },
    sample: [
      {
        name: '朝阳区总店',
      }
    ]
  }

= partial 'admin' do
  = react_component 'DemoAdminTable', data: data