- require "#{Dir.pwd}/src/base/partial/helper.rb"

:ruby
  data = {
    model: 'Clinic',
    name: '店面信息',
    desc: '设置各店面基本信息',
    fields: {
      name: '店面名称',
      address: '地址',
      phone: '电话',
    },
    sample: [
      {
        name: '朝阳区总店',
        address: '北京朝阳区健翔桥东xx号',
        phone: '010-66668888',
      }
    ]
  }

= partial 'admin' do
  = react_component 'DemoAdminTable', data: data