body, .ui.header, .ui.menu, .ui.button, 
.ui.cards>.card>.content>.header,
.ui.card>.content>.header
{
  font-family: '微软雅黑', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body.admin {
  .page-content {
    margin-left: 88px;
  }

  .page-sidebar {
    .ui.icon.menu .item.quit {
      opacity: 0.6;
      > i.icon {margin-bottom: 0 !important;}
    }
  }

  .ui.header.page-title {
    span { font-weight: bold; }
    .sub { margin-top: 0.5em; }
  }

  .ui.segment.secondry-nav {
    padding-top: 0;
  }

  .ui.segment.special-page {
    padding-top: 0;
  }

  .ui.segment.demo-admin-table {
    padding-top: 0;

    td.manage {
      background-color: #F8FFFF;
      min-height: 27px;
      > .value {
        color:darken(#00B5AD, 10%);font-weight:bold;
        display: block;
        margin-right: 100px;
        padding: 3.5px 0;
      }

      .value.labels {
        font-weight: inherit;
        padding: 0;
        .detail {font-family: lato;}
      }

      .ui.manage.button {
        margin-right: 0;
        float: right;
      }
    }

    td .ui.edit.button {
      margin-right: 0;
    }

    tfoot {
      .ui.pagination.menu {
        min-height:0;
        > .item {
          min-width: 0;
          padding:10px 13px;
        }
      }
    }

    // ---------
    .ui.segment.basic.table-filter {
      padding-top: 0;padding-bottom: 0;
      margin-bottom: 0;
      + .ui.basic.segment {
        margin-top: 0;
      }
    }
    .ui.segment.basic.table-table:first-child {
      padding-top: 0;
    }
  }
}

.demo-placeholder {
  font-size: 16px;
  font-weight: bold;
}