body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:342px;
  top:157px;
  width:100px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:484px;
  top:157px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:625px;
  top:157px;
  width:100px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:766px;
  top:157px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:913px;
  top:280px;
  width:100px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1060px;
  top:400px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1210px;
  top:400px;
  width:100px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:157px;
  width:100px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:201px;
  top:157px;
  width:100px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:913px;
  top:400px;
  width:100px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:766px;
  top:280px;
  width:100px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:160px;
  top:187px;
  width:41px;
  height:0px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:55px;
  height:20px;
}
#u23 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:301px;
  top:187px;
  width:41px;
  height:0px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:55px;
  height:20px;
}
#u25 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:442px;
  top:187px;
  width:42px;
  height:0px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:56px;
  height:20px;
}
#u27 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:584px;
  top:187px;
  width:41px;
  height:0px;
}
#u28_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:55px;
  height:20px;
}
#u29 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:725px;
  top:187px;
  width:41px;
  height:0px;
}
#u30_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:55px;
  height:20px;
}
#u31 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:816px;
  top:217px;
  width:0px;
  height:63px;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:77px;
}
#u33 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:866px;
  top:310px;
  width:47px;
  height:0px;
}
#u34_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:61px;
  height:20px;
}
#u35 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1060px;
  top:157px;
  width:100px;
  height:60px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:866px;
  top:187px;
  width:194px;
  height:0px;
}
#u38_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:208px;
  height:20px;
}
#u39 {
  position:absolute;
  left:47px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1310px;
  top:430px;
  width:-150px;
  height:-243px;
}
#u40_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:64px;
  height:20px;
}
#u40_seg1 {
  position:absolute;
  left:40px;
  top:-253px;
  width:20px;
  height:263px;
}
#u40_seg2 {
  position:absolute;
  left:-154px;
  top:-253px;
  width:214px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:-204px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1210px;
  top:510px;
  width:100px;
  height:60px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1260px;
  top:510px;
  width:0px;
  height:-50px;
}
#u44_seg0 {
  position:absolute;
  left:-10px;
  top:-54px;
  width:20px;
  height:64px;
}
#u45 {
  position:absolute;
  left:-50px;
  top:-33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1013px;
  top:310px;
  width:97px;
  height:-93px;
}
#u46_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:111px;
  height:20px;
}
#u46_seg1 {
  position:absolute;
  left:87px;
  top:-97px;
  width:20px;
  height:107px;
}
#u47 {
  position:absolute;
  left:45px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:963px;
  top:340px;
  width:0px;
  height:60px;
}
#u48_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u49 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1013px;
  top:430px;
  width:47px;
  height:0px;
}
#u50_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:61px;
  height:20px;
}
#u51 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1160px;
  top:430px;
  width:50px;
  height:0px;
}
#u52_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:64px;
  height:20px;
}
#u53 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:60px;
  top:138px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:204px;
  top:138px;
  width:59px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:344px;
  top:138px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:486px;
  top:138px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:628px;
  top:138px;
  width:59px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:767px;
  top:138px;
  width:72px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:766px;
  top:261px;
  width:59px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:913px;
  top:261px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:913px;
  top:381px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1060px;
  top:381px;
  width:59px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:1210px;
  top:381px;
  width:72px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1210px;
  top:491px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:700px;
  top:420px;
  width:190px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u79 {
  position:absolute;
  left:5px;
  top:1px;
  width:175px;
  word-wrap:break-word;
}
