body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:889px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:1254px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:1254px;
}
#u1 {
  position:absolute;
  left:2px;
  top:619px;
  width:885px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:113px;
  width:769px;
  height:1026px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:1026px;
}
#u3 {
  position:absolute;
  left:2px;
  top:505px;
  width:765px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:158px;
  top:430px;
  width:220px;
  height:170px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:180px;
}
#u5 {
  position:absolute;
  left:2px;
  top:72px;
  width:216px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:498px;
  top:430px;
  width:220px;
  height:170px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:180px;
}
#u7 {
  position:absolute;
  left:2px;
  top:72px;
  width:216px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:60px;
  top:1062px;
  width:769px;
  height:77px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:77px;
}
#u9 {
  position:absolute;
  left:2px;
  top:30px;
  width:765px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:60px;
  top:113px;
  width:769px;
  height:72px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:72px;
}
#u11 {
  position:absolute;
  left:2px;
  top:28px;
  width:765px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:290px;
  top:113px;
  width:100px;
  height:72px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:72px;
}
#u13 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:408px;
  top:143px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:432px;
  top:1090px;
  width:25px;
  height:25px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:418px;
  top:1119px;
  width:53px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
