body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:889px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:1254px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:1254px;
}
#u1 {
  position:absolute;
  left:2px;
  top:619px;
  width:885px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:113px;
  width:769px;
  height:1026px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:1026px;
}
#u3 {
  position:absolute;
  left:2px;
  top:505px;
  width:765px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:1062px;
  width:769px;
  height:77px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:77px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:765px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:235px;
  top:1119px;
  width:53px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:249px;
  top:1092px;
  width:25px;
  height:17px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:598px;
  top:1119px;
  width:53px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:608px;
  top:1085px;
  width:34px;
  height:34px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u13 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:75px;
  top:221px;
  width:156px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:75px;
  top:265px;
  width:156px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:75px;
  top:309px;
  width:156px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:75px;
  top:352px;
  width:156px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:300px;
  top:220px;
  width:31px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:292px;
  top:264px;
  width:39px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:300px;
  top:308px;
  width:31px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:300px;
  top:352px;
  width:31px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:329px;
  top:262px;
  width:22px;
  height:22px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u31 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:329px;
  top:307px;
  width:22px;
  height:22px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:329px;
  top:351px;
  width:22px;
  height:22px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u35 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:404px;
  top:221px;
  width:141px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:404px;
  top:264px;
  width:141px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:404px;
  top:308px;
  width:125px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:404px;
  top:351px;
  width:141px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:404px;
  top:394px;
  width:152px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:404px;
  top:437px;
  width:141px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:404px;
  top:481px;
  width:141px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:404px;
  top:524px;
  width:125px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:190px;
  top:143px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:551px;
  top:143px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:389px;
  top:206px;
  width:411px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
